<!-- this page is added in april 10 but not working for detail view -->

{% extends 'index.html' %}
 { % load staticfiles %}
 { % load static %}
 
{% block seo_title %}{% endblock %}
{% block seo_text %}{% endblock %}


<!--<div class="container">
<form method="post" action="/search/">
    {% csrf_token %}

    <div class="container">
      <div class="row searchFilter" >
         <div class="col-sm-12" >
          <div class="input-group" >
           <input id="table_filter" type="text"  name="srh" class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Enter search">
           <div class="input-group-btn" >
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Category</span> <span class="caret" >&nbsp;</span></button>
            <div class="dropdown-menu dropdown-menu-right" >
               <ul class="category_filters" >
                <li >
                 <input class="cat_type category-input" data-label="All" id="all" value="" name="radios" type="radio" ><label for="all" >All</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Environmental Hazards" value="Environmental Hazards" ><label class="category-label" for="Environmental Hazards" >Environmental Hazards</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Trash mismanaged" value="Trash mismanaged" ><label class="category-label" for="Trash mismanaged" >Trash mismanaged</label>
               </ul>
            </div>
            <button id="searchBtn" type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
           </div>
          </div>
         </div>
      </div>
    </div>
</form><br><br>
</div>    -->


{% block content %}

        <h1>{{post.title}}</h1>
         <p>{{post.text}}</p><br>
            {{ post.description }}<br>
            {{ post.city }}<br>
            {{ post.state }}<br>
            {{ post.zipcode }}<br>
            {{ post.published_date }}<br>
        <img src="{{ post.image.url }}" alt="image-{{ post.title }}" >
            {{post.created_date}}

{% endblock %}