{% extends 'index.html' %}

{% block content %}

    <form id="post_form" method="post" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">

        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        <div class="id">
        <table>
        {{ post_form.as_table }}
        </table>

{#        {{ profile_form.as_p }}#}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
            </div>
    </form>

{% endblock %}