<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel= "stylesheet" type="text/css" href="/static/css/bootstrap.css" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/search-filter.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div style="text-align: center;"><h1>Green Horizon</h1></div>
    <div style="text-align: center;"><h2>Welcome to our home page</h2></div>
</head>

<style>


.form-inline{
    padding-left: 30%;


}
body{
    background: white;
}

.id{
    padding-left: 20%;
    color: red;
}

menu{
    align-content: right;
    text-emphasis-style: circle;
}
results{
    text-align-all: center;
    text-orientation: inherit;
    text-emphasis-color: blue;
}
</style>

<body>
{% load static %}

<div style="text-align: center;"><img class="myImg" src="{% static 'images/a4.JPG' %}" width ="100" height= "100"></div>
<br>
<br>


<div class="container">


<form class="form-inline" method="post" action="/search/">
        {% csrf_token %}<br>

        <label for="category">Search By</label>
            <select class="form-category my-2" name="dropdown" id="category" style="background-color: white">
              <option value="All">- - - - - - - - - - - -</option>
              <option value="Water Problems">Water Problems</option>
              <option value="Storms">Storms</option>
              <option value="Oil Problems">Oil Problems</option>
              <option value="Others">Others</option>

            </select>

    <input class="form-control mr-sm-2" type="search" aria-label="Search" name="srh" placeholder="Enter search">

    <button class="btn btn-outline-success my-2 my-sm-2" style="margin-top: 250px" type="submit">Search</button>

</form><br><br>
</div>


<!-- *******************************-->
{#added#}
<div class="id">
{% if user.is_authenticated %}
<h1>Welcome says... hello {{ user.username }}!</h1>
{% else %}
<h1>Welcome says... hello world!</h1>
{% endif %}


{% if user.is_authenticated %}
<a href="/restricted/">Restricted Page</a><br />
<a href="/logout/">Logout</a><br />
{% else %}
<a href="/register/">Register Here</a><br />
<a href="/login/">Login</a><br />
{% endif %}

<a href="/">Home</a><br/>
<a href="/about/">About</a><br/>
<a href="/add_category/">Add a New Category</a><br />
<a href="/create/">Add a New Post</a><br />
<a href="/edit_status/">Edit Post Status</a><br />
<a href="/citymanager/">City Manager</a><br />


</div>


<div class="id">
    {% if obj %}
        {% for k in obj %}
            <h1><a href="{% url 'post_detail' pk=k.zipcode %}">{{k.title}}</a></h1><br>
            {{ k.description }}<br>
            {{ k.category_id }}<br>
            {{ user }}<br>
            {{ k.city }}<br>
            {{ k.state }}<br>
            {{ k.zipcode }}<br>
            {{ k.published_date }}<br>
            <img src="{{ k.image.url_125x125 }}" /><br>
            {{ k.user }}<br>
            <br><br><br>
        {% endfor %}
    {% endif %}
</div>


{#for results display#}
{% block content %}

{% endblock %}

</body>
</html>
