<!-- this page is added in may 02 working for detail view
right now zipcode as primary key change to something meaningful-->

{% extends 'index.html' %}
 { % load staticfiles %}
 { % load static %}
 
{% block seo_title %}{% endblock %}
{% block seo_text %}{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
    {% for post in messages %}
    <li style="color: red">{{ post }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div><br>

    <div class="id" style="color: green" >
        <h1>{{post.title}}</h1>
         <p>{{post.description}}</p><br>
            {{ post.city }}<br>
            {{ post.state }}<br>
            {{ post.zipcode }}<br>
            {{ post.user }}<br>
            {{ post.published_date }}<br>
        <img src="{{ post.image.url }}" alt="image-{{ post.title }}" >
            {{post.created_date}}<br>
    </div>

{% endblock %}